.app-wrapper {

    display: grid;
    width: 1200px;
    grid-template-areas:
    'H H'
    'N C';

    grid-template-rows: 60px 1fr;
    grid-template-columns:  2fr 10fr;
}

.app-wrapper-content {
    grid-area: C;
    background-color: blue;
}





